.bg-image{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #1A4977 no-repeat fixed center;
    height: 100%;
}

.container{
    background: #ffffff;
}

img{
    max-width: 100%;
    max-height: 100%;
}

div.logo{
    position: absolute;
    width: 300px;
    height: 290px;
    left: 3px;
    top: -82px;
    display: inline-block;
}

.main-title{
    font-size:80rem;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 25px; 
    font-weight: bold;
}

.form-group{
    font-weight: bold;
    font-size: 13px; 
}

input.form-control, input.btn-primary, .form-check, button.btn-primary, ::placeholder, .option{
    font-size: 13px; 
}

.section-form{
    font-size: 16px;
    font-weight: bold;
    color: #1A4977;
}

.btn-primary{
    background-color: #1A4977 !important;
    border-color: #1A4977;
}

.footer {
    
    position: scroll;
    left: 0;
    bottom: 0;
    width: 100%;
    height:80px;
    background-color: #FFA82C;
    color: white;
    text-align: center;
 }

 .display-none {
    display: none;
}

.alert.alert-danger-validation{
    color: #ff0000;
    background-color: transparent;
    border-color: transparent;
    
}
    